<a href="https://colab.research.google.com/github/aadi-9325/VOIS_AICTE_Oct2025_AdityaNadevGhodke/blob/main/Airbnb_Hotel_Booking_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

:

In [ ]:
df = pd.read_excel("/content/1730285881-Airbnb_Open_Data.xlsx")

In [ ]:
df.shape

In [ ]:
df.info()

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
df.duplicated().value_counts()

In [ ]:
df.isnull().sum()

In [ ]:
#neighbourhood group was brookln instead of brooklyn
df[df['neighbourhood group'] == 'brookln']

In [ ]:
df.loc[df['neighbourhood group'] == 'brookln', 'neighbourhood group'] = 'Brooklyn'

In [ ]:
#neighbourhood column the spelling of Brooklyn was misspelt
df[df['neighbourhood group'] == 'Brooklyn']

**Problem Identifies within data**

1.541 duplicate values found

2.license column has only 2 values and all other 102597 Null values

3.house_rules column has half of the values NULL

4.missing values in some records

5.doller sign and commas are recorded within price and service fee column

6.in the neighbourhood column the spelling of Brooklyn was misspelt

# Clean the data

<tr><li>Drop the duplicate records
<li>Drop house_rules and license columns they have insufficiet data
<li>Remove all doller sign in the price and service fee columns
<li>Rename the service fee and price columns to include $ doller sign
<li>Drop all records with missing values
<tr>

In [ ]:
#drop duplicate records
df.drop_duplicates(inplace=True)

#drop house_rules and license columns
df.drop(['house_rules','license'],axis= 1,inplace=True)

In [ ]:
#Remove all doller sign and commas in the price and service fee columns
df['price'] = df['price'].astype(str).str.replace('$',"",regex=False).str.replace(',',"",regex=False)
df['service fee'] = df['service fee'].astype(str).str.replace('$',"",regex=False)

# Replace "nan" strings with actual NaN values
df['price'] = df['price'].replace('nan', np.nan)
df['service fee'] = df['service fee'].replace('nan', np.nan)

In [ ]:

#Convert the columns to numeric after removing the characters
df['price'] = pd.to_numeric(df['price'], errors='coerce')
df['service fee'] = pd.to_numeric(df['service fee'], errors='coerce')

In [ ]:
#Drop all records with missing values
df.dropna(inplace=True)

In [ ]:
df.info()

In [ ]:
#change all mismatched data type to appropriate data type
df['id'] = df['id'].astype('str')

In [ ]:
df['host id'] = df['host id'].astype('str')

In [ ]:
df['Construction year'] = df['Construction year'].astype('int')

In [ ]:
#rename the price and service fee colun to include $ sign
df.rename(columns={'price':'$price','service fee':'$service fee'}, inplace=True)

In [ ]:
#get rid of vailability 365 columns outliers
df = df.drop(df[df['availability 365'] > 500].index)

In [ ]:
df.duplicated().value_counts()

In [ ]:
df.isnull().sum()

In [ ]:
df.info()

# EDA Started from here

In [ ]:
df.describe()

In [ ]:
property_type = df['room type'].value_counts().to_frame()
property_type

In [ ]:
room_type_bar = plt.bar(property_type.index, property_type.loc[:,"count"]);
plt.bar_label(room_type_bar, labels = property_type.loc[:,"count"], padding = 4);
plt.title('Property Type and count')
plt.xlabel('Property Type')
plt.ylim(0,50000)
plt.ylabel('Count')

In [ ]:
plt.bar(property_type.index,property_type.loc[:,'count'])

plt.title('Property Type and count')
plt.xlabel('Property Type')
plt.bar_label(room_type_bar, labels = property_type.loc[:,"count"], padding = 4);
plt.ylim(0,50000)
plt.ylabel('Count')
plt.show()

#Which neighbourhood group has highest listing

In [ ]:
hood_group = df['neighbourhood group'].value_counts().to_frame()
hood_group

In [ ]:
n_group_bar = plt.bar(hood_group.index,hood_group.loc[:,"count"])
plt.bar_label(n_group_bar, labels = hood_group.loc[:,"count"], padding = 4);
plt.title("Neighbourhood Group and count")
plt.xlabel("Neighbourhood Group")
plt.ylabel("Count")
plt.ylim(0,38000)
plt.show()

<h4>The dataset has five Neighbourhood groups</h4> Brooklyn,Manhattan,Queens,Bronx,Staten Island.
<h5>Brooklyn has highest number of listings with 34621 , Manhattan is second number with 34560

# which neighbourhood groups have highest average prices for Airbnb listings

In [ ]:
avg_price  = df.groupby('neighbourhood group')['$price'].mean().sort_values(ascending=False).to_frame()
avg_price.round(2)

In [ ]:
avg_price_bar = plt.bar(avg_price.index,avg_price.loc[:,'$price'],width=0.5)
plt.bar_label(avg_price_bar, labels = avg_price.loc[:,"$price"].round(2), padding = 4,rotation=0);
plt.title("Neighbourhood Group and Average Price")
plt.xlabel("Neighbourhood Group")
plt.ylabel("Average Price")
plt.ylim(0,800)
plt.show()

<h6>mong the five identifide group Queens 630.5 (Dollar)  has the highest average price followed by Bronx 630.2 (Dollar) with very small difference

# is there anyy relation between construction year and price?

In [ ]:
df.groupby('Construction year')['$price'].mean().to_frame().plot()
plt.xlabel('Construction Year')
plt.ylabel('Average Price')
plt.legend(['Average Price'])
plt.show()

The line plot depocting the construction year of properties versus the average price per property reveals a noticavble trend in prices as the construction year progress. The pattern demonstrate decreasing lows and high, suggesting an overall decline in properiety prices as time progress.

<h2>Who are the top 10 hostes by calculated host listing count ?</h2>
From the numerous hoste in the dataset, we will see the 10 hosts with highest calculatred host count.

In [ ]:
#top 10 host calculated host listings count
top_10_host = df.groupby('host name')['calculated host listings count'].sum().sort_values(ascending=False).nlargest(10).to_frame()
top_10_host

In [ ]:
host_bar = plt.bar(top_10_host.index,top_10_host.loc[:,'calculated host listings count'])
plt.bar_label(host_bar,label = top_10_host.loc[:,'calculated host listings count'], label_type='edge',padding = 3)
plt.xlabel('Host Name')
plt.ylabel('calculated Host Listings Count')
plt.title('Top 10 Hosts by Calculated Host Listing Count')
plt.legend('calculated host listings count')
plt.xticks(rotation=80)
plt.ylim(0,120000)
plt.show()

The bar chart above showas the top 10 hostes based on the calculated listing count, with Sonder(NYC) notably leading with 111921 listings. /n Subsequently , the others hosts follow in the descending order.
<li> Karen at second position with 42410 hosts
<li> Jenifer at thoird position with 31447 hosts
<li> Blueground at fourth with  21168 hosts
<li>Kaz at fifth with 17550 hosts
<li>Corporate hostin with 14833
<li> Soya, Stay with Vibe, Kara, Jereny & Laura with 10260, 10260, 10092, 100080 respectivaly

# Are hosts with verifide identities more likely to receive positive reviews?

In [ ]:
review = df.groupby('host_identity_verified')['review rate number'].mean().sort_values(ascending=False).to_frame()
review

In [ ]:
review_bar = plt.bar(review.index,review.loc[:,'review rate number'])
plt.bar_label(review_bar,label = round(review.loc[:,'review rate number'],3), label_type='edge',padding = 3)
plt.xlabel("host_identity_verified")
plt.ylabel("review rate number")
plt.ylim(0,4)
plt.title("Host Identity Verified and Review Rate Number")
plt.show()

In [ ]:
base_color= sns.color_palette()[0]
sns.boxplot(data = df , x = "host_identity_verified" , y = "review rate number" , color = base_color)
plt.xlabel("Host Identity Verified")
plt.ylabel("Review Rate Number")
plt.title('Average review rate for each')
plt.show()

The average review rates for verifide and unconfirmed hosts are 3.27 and 3.28 respectively, indicating a marginal difference in their review rates, with uinconfirmed hosts having a slighlty having slightly higher rate. This sugest that verifide hosts are not necessarily more likely to recieve postitive reviesws compared to uncomfirmed hosts.

#Is there a correlation between the price anf its service fee?

In [ ]:
df['$price'].corr(df['$service fee'])

In [ ]:
#Is there a correlation between the price anf its service fee?
plt.scatter(df['$price'], df['$service fee'])
plt.xlabel('Price ($)')
plt.ylabel('Service Fee ($)')
plt.title('Relationship between Price and Service Fee')
plt.show()

the pearson correlation between the price and service fee is 0.99 ,indicating a highly robust positive correlation between these variables , On regression plot each point, arising digonal line towards the rigth signifying that as the price of a property increases so does its service fee.

# What is the average reviews rate number (e.g Stars ) for listing, and does it vary based on the neighbourhood group and room type?

In [ ]:
ARRN = df.groupby(['neighbourhood group','room type'])['review rate number'].mean().to_frame();
ARRN

In [ ]:
plt.figure(figsize= [10,10]); sns.barplot(data = df, x = 'neighbourhood group', y = 'review rate number' , hue = 'room type')
plt.xlabel('neighbourhood group');
plt.ylabel('Average Review Rate');
plt.title("Average Review rate for each Room/Property Type in each Neighourhood Group.")

Hotel Room type has higher revies rate compared to all other property types within the four neighbourhood group Where the are located Brooklyn, Mannhaten, Queens

# Are hosts with higher calculated host listings count more likely to maintain higehr availibility throughout the year?

In [ ]:
# Are hosts with higher calculated host listings count more likely to maintain higehr availibility throughout the year?
sns.regplot(data = df, x = 'calculated host listings count', y = 'availability 365')
plt.xlabel('Calculated Host Listings Count')
plt.ylabel('Availability 365')
plt.title('Relationship between Calculated Host Listings Count and Availability 365')
plt.show()

In [ ]:
df['calculated host listings count'].corr(df['availability 365'])

The Pearson Correlation Coefficient for the asssociation between calculated host listing and availibility 365 is 0.136 is inicating a weak postive correlation.

# Conclusion
<h4> In conclusion, this project has provided a comprehensive analysis of the New York City AIRBNB dataset, shedding light on various aspects of the short-term lodging market Through data wrangling. exploratory data analysis (FDA), and interpretation of summary statistics. we've uncovered valuable insights into listing distribution, pricing dynamics, host, and review analysis.

<h4> Key findings include the dominance in counts of Entire home/apt listings, the variability in listing counts across neighborhood groups, and the downward trend between property construction year and price. Additionally, the analysis highlighted Inc significance of verified host status on review rates, as well as the strong correlation between listing price and service fee.

<h4>Furthermore, conducting sentiment analysts on guest reviews to understand factors driving customer satisfaction and preferences could inform targeted marketing strategies and product improvements ha.Airbnh. Lastly. expanding the analysis to Include precfiCtiVe modeling techniques, such as regression or machine learning algorithms, could enable forecasting of listing demand, pricing trends, and customer behavior. facilitating strategic decision-Making for stakeholders in the short-term lodging industry.

In [ ]:
text = "Thank You"
width = len(text) + 8
line = "+" + "-"*(width-2) + "+"

print(line)
print("|" + " "*(width-2) + "|")
print("|" + "   " + text.center(width-8) + "   |")
print("|" + " "*(width-2) + "|")
print(line)